.aside{
    position:fixed;
    left: 0;
    top: 0;
    background: var(--body-color);
    border-right: 1px solid rgba(0,0,0,0.05);
    padding: 2.5rem;
    width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
@media (max-width:780px) {
    .aside{
   
        position:absolute;
        left: 0;
        top: 0;
        background: var(--body-color);
        border-right: 1px solid rgba(0,0,0,0.05);
        padding: 2.5rem;
        width: 5px;    
            height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 10;

    }
}

.nav__logo{
width: 3rem;
margin-left: -0.6rem;
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav__link{
    display: flex;

    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: 0.3s;
}

.nav__link:hover{
    color: hsl(43, 100%, 68%);


}
.copyright{
    color:hsl(245,15%,65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

.scroll__down{
    position:absolute;
    bottom:2.5rem;
    left:0;
    width: 100%;

}

.home__scroll-name{
    font-size: var(--small-font-size);
}

.mouse{
    border:2px solid var(--text-color);
    display: block;
    height: 1.6rem;
    width: 1.25rem;
}